
File>Import, "Load sweep",       net.haesleinhuepf.spimcat.unsweep.LoadSweepStack
SpimCat>Projection, "Basic Unsweep (ImageScience)",             net.haesleinhuepf.spimcat.unsweep.BasicUnsweepImageScience
SpimCat>Projection, "Basic Unsweep on GPU (CLIJ)",             net.haesleinhuepf.spimcat.unsweep.BasicUnsweep
SpimCat>Projection, "Unsweep on GPU (CLIJ)",             net.haesleinhuepf.spimcat.unsweep.Unsweep
